.delivery-option {

    display: flex;
    column-gap: 10px;
    border-bottom: solid 1px rgb(187, 187, 187);
}

.date {
    margin: 2px;
    color: rgb(7, 131, 13);
}

.shipping-price {
    margin: 2px;
    color: rgb(121, 121, 121);
}