.right-section-flex {
    display: flex;
    flex: 1;
    height: 100%;
    justify-content: end;
    align-items: center;
    column-gap: 50px;
}

.user-icon-container {
    margin-right: 100px;
}

.cart-icon-container, .user-icon-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.cart-value {
    position: absolute;
    color: brown;
    margin-left: 5px;
    font-weight: 600;
    font-size: 20px;
    top: -2%;

}

.cart-text {
    margin: 0px;
}


